header {
    left: 50%;
    text-align: center;
    color: gray;
    font-size: 50px;
    font-style: italic;
}

ul.menu {
    position: absolute;
    top: 8px;
    right: 24px;
}

ul.menu>li {
    font-size: 20;
    color: gray;
    line-height: 20px;
    display: inline-block;
}

div.trending {
    position: absolute;
    left: 0;
    top: 5%;
}

div.searchbook {
    text-align: center;
}

div.searchbook input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 30px;
}

div.searchbook button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 30px;
    cursor: pointer;
}

div.searchbook button:hover {
    background: #ccc;
}

div.booktypes {
    position: absolute;
    bottom: 10px;
    left: 600px;
}